@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
}

.sign-up,
.success {
  background-color: hsl(0, 0%, 100%);
  border-radius: 3rem;
  display: flex;
  padding: 2rem;
  box-shadow: 0 0 2rem rgb(46, 46, 46);
}

.sign-up {
  flex-direction: row;
  justify-content: space-between;
  max-width: 55vw;
  height: 75vh;
  margin: 20vh auto;
}

.sign-up_left-side {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.sign-up_left-side > * {
  margin-bottom: 2rem;
}

.sign-up_left-side_list {
  list-style: none;
  line-height: 1.5;
}

.list-icon {
  margin-right: 0.8rem;
  position: relative;
  top: 0.3rem;
}

.heading {
  font-size: 4.5rem;
}

.email-label {
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}

.email-input,
.button {
  width: 100%;
  padding: 1.5rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.7rem;
}

.email-input {
  margin: 1rem 0 2rem 0;
  border: 1px solid hsl(231, 7%, 60%);
}

.email-input:focus {
  outline: none;
}

.error-state {
  border: 1px solid rgba(255, 41, 41, 0.623);
  background-color: rgba(255, 41, 41, 0.2);
}

.warning {
  display: none;
  position: absolute;
  right: 0;
  top: 1rem;
  font-size: 1rem;
  color: red;
}

.button {
  border: none;
  color: white;
  font-weight: 700;
  background-color: hsl(234, 29%, 20%);
  transition: transform 0.2s;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 39, 39), rgb(255, 120, 41));
  box-shadow: 0 1rem 2.5rem hsl(231, 7%, 60%);
  transform: translateY(-0.3rem);
}

.button:active {
  transform: translateY(0.3rem);
}

.sign-up_image__desktop {
  height: calc(75vh - 4rem);
}

.sign-up_image__mobile {
  display: none;
}

.success {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 32vw;
  height: 60vh;
  margin: 30vh auto;
  padding: 5rem;
}

.down {
  margin-top: 1rem;
}

.success_up > * {
  margin-bottom: 2rem;
}

.success_icon {
  width: 5rem;
}

@media only screen and (max-width: 400px) {
  .sign-up {
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100vw;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .sign-up_image__desktop {
    display: none;
  }

  .sign-up_image__mobile {
    display: inline-block;
    width: 100%;
  }

  .success {
    display: none;
    justify-content: space-between;
    margin: 0;

    padding: 10rem 3rem 3rem;
    border-radius: 0;
    min-height: 100vh;
    width: 100vw;
  }
}
